.App {
  text-align: center;
}

.GameTable {
  display: flex;
  flex-direction: row;
}
.DealButton {
  font-size: 20px;
}
.DrawPiles {
  display: flex;
  flex-direction: column;
}
.UnplayedDeck {
  border-style: dashed;
  width: 150px;
  height: 200px;
  margin: 20px;
}
.DrawFromDeck {
  border-style: dashed;
  width: 150px;
  height: 200px;
  margin: 20px;
}